---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/project/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare c8499ee6dc44194c00d2:076be68d79a4b1581c83a88de1e49481ba970920
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"collaborators":[],"name":"New project","pub_key":"c8499ee6dc44194c00d2","autostore_enabled":true}'
  recorded_at: Wed, 22 Jan 2020 13:35:24 GMT
recorded_with: VCR 5.0.0
