---
http_interactions:
- request:
    method: put
    uri: https://api.uploadcare.com/files/storage/
    body:
      encoding: UTF-8
      string: '["nonexistent","other_nonexistent"]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare c8499ee6dc44194c00d2:9cb84ef5967bb31f8443ebdac7628ad461151a16
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - DELETE, OPTIONS, PUT
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","problems":{"other_nonexistent":"Invalid","nonexistent":"Invalid"},"result":[]}'
  recorded_at: Wed, 22 Jan 2020 13:36:50 GMT
recorded_with: VCR 5.0.0
